<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap">
  <!-- Leaflet, MapLibre GL (vector basemap), Chroma.js, and h3-js (hexagon geometry) -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
  <link rel="stylesheet" href="https://unpkg.com/maplibre-gl@5.12.0/dist/maplibre-gl.css">
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script src="https://unpkg.com/maplibre-gl@5.12.0/dist/maplibre-gl.js"></script>
  <script src="https://unpkg.com/@maplibre/maplibre-gl-leaflet@0.1.4/leaflet-maplibre-gl.js"></script>
  <script src="https://unpkg.com/chroma-js@2.4.2/chroma.min.js"></script>
  <script src="https://unpkg.com/h3-js@4.5.0/dist/h3-js.umd.js"></script>
  <!-- Site styles (after library CSS so overrides win) -->
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/leaflet-styles.css' | relative_url }}">
  {%- feed_meta -%}
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">
  <!-- Dynamic iframe resizing -->
  <script>
    function iframe_loaded(id){
      const iframe = document.getElementById(id);
      if(iframe){
        iframe.style.height = '';
        iframe.style.height = iframe.contentWindow.document.body.scrollHeight + 'px';
      }
    }
    window.addEventListener('resize', function() {
      iframe_loaded('ta_iframe');
      iframe_loaded('hf_iframe');
    });
  </script>
</head>
