<!DOCTYPE html>
<html lang="en">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
        <h1>HIV Maps for {{ page.title }}</h1>

        <p>The below maps estimate variation in HIV prevalence, viral load suppression, and HIV viremia using population-based surveys and routine health surveillance data. These maps visualize these estimates by administrative unit and by catchment areas for each health facility offering HIV services in Malawi.</p>

        <p>Users can toggle between various levels of spatial resolution to identify differences in indicators by district, traditional authority, facility catchment, or group village head (a cluster of small villages).</p>

        <p>When combined with local expertise, these maps can help to:</p>

        <ul>
          <li>Identify areas with high prevalence of the mapped indicators/estimates</li>
          <li>Drive decisions around health services by identifying priority areas</li>
          <li>Optimize resource allocation for improved outcomes in low-resource settings</li>
          <li>Investigate reasons for differences between areas</li>
          <li>Tailor care and interventions to match local circumstances and need</li>
        </ul>

        <p><i>It is important to remember that maps are tools, not answers.</i> Maps should be combined with knowledge of the local context for informed decision making.</p>

        <h2>HIV Viraemia Map</h2>
        <p>The following interactive map shows estimates of HIV viraemia across {{page.title}} at the district, traditional authority, health facility catchment, and 1x1km grid levels. Health facility locations and details are also shown.</p>
        <div id="hiv-viraemia-map" class="leaflet-map"></div>
        <hr/>

        <h2>HIV Prevalence Map</h2>
        <p>The following interactive map shows estimates of HIV prevalence across {{page.title}} at the district, traditional authority, health facility catchment, and 1x1km grid levels. Health facility locations and details are also shown.</p>
        <div id="hiv-prevalence-map" class="leaflet-map"></div>
        <hr/>

        <h2>Viral Load Suppression Map</h2>
        <p>The following interactive map shows estimates of viral load suppression across {{page.title}} at the district, traditional authority, health facility catchment, and 1x1km grid levels. Health facility locations and details are also shown.</p>
        <div id="viral-load-suppression-map" class="leaflet-map"></div>
        <hr/>

        <h2>Traditional Authorities</h2>
        <p class="paragraph-above-iframe">The following table lists HIV prevalence among 15 to 49-year olds and population across the same age range for all traditional authorities in {{page.title}}.</p>
        <div id="traditional-authorities-table">
          <iframe
            id="ta_iframe"
            class="dynamic-iframe"
            scrolling="no"
            onload="ta_iframe_loaded()"
            src="./data/{{ page.title }}_tas.html"
          ></iframe>
        </div>
        <hr/>

        <h2>Health Facilities</h2>
        <p class="paragraph-above-iframe">The following table lists health facilities offering ART services across {{page.title}}.</p>
        <div id="health-facilities-table">
          <iframe
            id="hf_iframe"
            class="dynamic-iframe"
            scrolling="no"
            onload="hf_iframe_loaded()"
            src="./data/{{ page.title }}_facilities.html"
          >
          </iframe>
        </div>

        <!-- End of page content -->

        <script src="{{ '/assets/js/leaflet_functions.js' | relative_url }}"></script>
        <script src="{{ '/data' | relative_url }}/{{ page.title }}.js"></script>
        <script>const district_name = "{{ page.title }}";</script>
        <script src="{{ '/assets/js/build_district_maps.js' | relative_url }}"></script>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
